<div class="container-fluid">
  <div class="jumbotron">
    <h1>Nerdy Ramblings <small>Your portal into the happenings of the Nerd World</small></h1>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="text-center">Posts</h1>
  </div>
  <ul class="list-group">
    <% @posts.order(created_at: :desc).each do |post| %>
    <li class="list-group-item"><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
</div>
