<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Nerdy Ramblings</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="/posts/new">Add a New Post</a></li>
      <li><a href="/tags/new">Add a New Tag</a></li>
    </ul>
  </div>
</nav>
